<div>
  <input type="text" [(ngModel)]="title">
  <h1>Hello, {{ title }}</h1>
  <p>Congratulations! Your app is running. 🎉</p>
  <app-child (addItemEvent)="addItem($event)" emojiName="Turtles"></app-child>
  <p>This many turtles: {{ items.length }}</p>
  @for (turtle of items; track turtle) {
    {{ turtle }}
  }
  <app-custom [(counter)]="counter"></app-custom>
  <p>Counter: {{ counter }}</p>
  <div style="margin-top: 20px; background-color: #eee; padding: 10px;">
    <button (click)="callLambda()">Call Lambda</button>

    <div *ngIf="loading">Loading...</div>

    <div *ngIf="error" class="error">
      {{ error }}
    </div>

    <div *ngIf="lambdaResponse && !loading" class="response">
      <h3>Lambda Response:</h3>
      <pre>{{ lambdaResponse | json }}</pre>
    </div>
  </div>

</div>
